In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('hypothyroid.csv')
data.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   object
 1   sex                        3772 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3772 non-null   object
 18  T3 measured                3772 non-null   object
 19  T3                         3772 non-null   object
 20  TT4 measured               3772 non-null   object
 21  TT4                        3772 non-null   object
 22  T4U measured               3772 non-null   object
 23  T4U                        3772 non-null   object
 24  FTI measured               3772 non-null   object
 25  FTI                        3772 non-null   object
 26  TBG measured               3772 non-null   object
 27  TBG                        3772 non-null   object
 28  referral source            3772 non-null   object
 29  binaryClass                3772 non-null   object
dtypes: object(30)
memory usage: 884.2+ KB

In [3]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
for x in data.columns:
    data[x]=enc.fit_transform(data[x])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   int64
 1   sex                        3772 non-null   int64
 2   on thyroxine               3772 non-null   int64
 3   query on thyroxine         3772 non-null   int64
 4   on antithyroid medication  3772 non-null   int64
 5   sick                       3772 non-null   int64
 6   pregnant                   3772 non-null   int64
 7   thyroid surgery            3772 non-null   int64
 8   I131 treatment             3772 non-null   int64
 9   query hypothyroid          3772 non-null   int64
 10  query hyperthyroid         3772 non-null   int64
 11  lithium                    3772 non-null   int64
 12  goitre                     3772 non-null   int64
 13  tumor                      3772 non-null   int64
 14  hypopituitary              3772 non-null   int64
 15  psych                      3772 non-null   int64
 16  TSH measured               3772 non-null   int64
 17  TSH                        3772 non-null   int64
 18  T3 measured                3772 non-null   int64
 19  T3                         3772 non-null   int64
 20  TT4 measured               3772 non-null   int64
 21  TT4                        3772 non-null   int64
 22  T4U measured               3772 non-null   int64
 23  T4U                        3772 non-null   int64
 24  FTI measured               3772 non-null   int64
 25  FTI                        3772 non-null   int64
 26  TBG measured               3772 non-null   int64
 27  TBG                        3772 non-null   int64
 28  referral source            3772 non-null   int64
 29  binaryClass                3772 non-null   int64
dtypes: int64(30)
memory usage: 884.2 KB

In [4]:
data.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,34,1,0,0,0,0,0,0,0,0,...,1,28,1,72,1,10,0,0,1,1
1,15,1,0,0,0,0,0,0,0,0,...,1,3,0,146,0,234,0,0,4,1
2,40,2,0,0,0,0,0,0,0,0,...,1,10,1,48,1,22,0,0,4,1
3,67,1,1,0,0,0,0,0,0,0,...,1,83,0,146,0,234,0,0,4,1
4,67,1,0,0,0,0,0,0,0,0,...,1,201,1,44,1,199,0,0,3,1

In [5]:
data=data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3711 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3711 non-null   int64
 1   sex                        3711 non-null   int64
 2   on thyroxine               3711 non-null   int64
 3   query on thyroxine         3711 non-null   int64
 4   on antithyroid medication  3711 non-null   int64
 5   sick                       3711 non-null   int64
 6   pregnant                   3711 non-null   int64
 7   thyroid surgery            3711 non-null   int64
 8   I131 treatment             3711 non-null   int64
 9   query hypothyroid          3711 non-null   int64
 10  query hyperthyroid         3711 non-null   int64
 11  lithium                    3711 non-null   int64
 12  goitre                     3711 non-null   int64
 13  tumor                      3711 non-null   int64
 14  hypopituitary              3711 non-null   int64
 15  psych                      3711 non-null   int64
 16  TSH measured               3711 non-null   int64
 17  TSH                        3711 non-null   int64
 18  T3 measured                3711 non-null   int64
 19  T3                         3711 non-null   int64
 20  TT4 measured               3711 non-null   int64
 21  TT4                        3711 non-null   int64
 22  T4U measured               3711 non-null   int64
 23  T4U                        3711 non-null   int64
 24  FTI measured               3711 non-null   int64
 25  FTI                        3711 non-null   int64
 26  TBG measured               3711 non-null   int64
 27  TBG                        3711 non-null   int64
 28  referral source            3711 non-null   int64
 29  binaryClass                3711 non-null   int64
dtypes: int64(30)
memory usage: 898.8 KB

In [6]:
data.describe()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
count,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,...,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.000000,3711.0,3711.0,3711.000000,3711.000000
mean,46.493937,1.266505,0.125034,0.013473,0.011318,0.039612,0.014282,0.014282,0.015899,0.063056,...,0.953921,119.133118,0.911884,64.854756,0.912423,108.715980,0.0,0.0,3.267583,0.921584
std,20.863642,0.525220,0.330802,0.115306,0.105795,0.195072,0.118666,0.118666,0.125100,0.243096,...,0.209685,98.238113,0.283502,31.330172,0.282718,97.032357,0.0,0.0,1.097079,0.268861
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,28.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,21.000000,1.000000,46.000000,1.000000,17.000000,0.0,0.0,3.000000,1.000000
50%,50.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,79.000000,1.000000,57.000000,1.000000,56.000000,0.0,0.0,4.000000,1.000000
75%,63.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,226.000000,1.000000,71.000000,1.000000,221.000000,0.0,0.0,4.000000,1.000000
max,93.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,241.000000,1.000000,146.000000,1.000000,234.000000,0.0,0.0,4.000000,1.000000

In [7]:
data['age']=(data['age']-data['age'].min())/(data['age'].max()-data['age'].min())
data['TT4']=(data['TT4']-data['TT4'].min())/(data['TT4'].max()-data['TT4'].min())
data['T4U']=(data['T4U']-data['T4U'].min())/(data['T4U'].max()-data['T4U'].min())
data['FTI']=(data['FTI']-data['FTI'].min())/(data['FTI'].max()-data['FTI'].min())

In [8]:
data.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,0.365591,1,0,0,0,0,0,0,0,0,...,1,0.116183,1,0.493151,1,0.042735,0,0,1,1
1,0.161290,1,0,0,0,0,0,0,0,0,...,1,0.012448,0,1.000000,0,1.000000,0,0,4,1
2,0.430108,2,0,0,0,0,0,0,0,0,...,1,0.041494,1,0.328767,1,0.094017,0,0,4,1
3,0.720430,1,1,0,0,0,0,0,0,0,...,1,0.344398,0,1.000000,0,1.000000,0,0,4,1
4,0.720430,1,0,0,0,0,0,0,0,0,...,1,0.834025,1,0.301370,1,0.850427,0,0,3,1

In [9]:
y=data['binaryClass']
x=data.drop(['binaryClass'],axis=1)

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.1,stratify=y)
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(3339, 29)
(372, 29)
(3339,)
(372,)

In [11]:
xtrain

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source
1519,0.537634,2,0,0,0,1,0,0,0,1,...,3,1,0.883817,1,0.226027,1,0.982906,0,0,3
1623,0.311828,1,1,0,0,0,0,0,0,0,...,69,1,0.257261,1,0.280822,1,0.405983,0,0,4
2122,0.258065,2,0,0,0,0,0,0,0,0,...,19,1,0.970954,1,0.342466,1,0.004274,0,0,1
1040,0.741935,1,0,0,0,0,0,0,0,1,...,8,1,0.958506,1,0.253425,1,0.059829,0,0,3
2569,0.612903,1,1,0,0,0,0,0,0,0,...,16,1,0.987552,1,0.308219,1,0.051282,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313,0.548387,1,0,0,0,0,0,0,0,0,...,10,1,0.800830,1,0.239726,1,0.850427,0,0,4
996,0.741935,1,0,0,0,0,0,0,0,0,...,20,1,0.190871,1,0.458904,1,0.132479,0,0,4
554,0.526882,1,0,0,0,0,0,0,0,0,...,69,1,0.991701,1,0.404110,1,0.987179,0,0,4
128,0.870968,1,0,0,0,0,0,0,0,0,...,13,1,0.004149,1,0.294521,1,0.081197,0,0,3
19,0.215054,2,0,0,0,0,0,0,0,0,...,28,1,0.099585,1,0.349315,1,0.141026,0,0,1

In [12]:
from xgboost import XGBClassifier
svm_model=XGBClassifier()
svm_model.fit(xtrain,ytrain)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [13]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
predictions= svm_model.predict(xtest)
percentage=svm_model.score(xtest,ytest)
res=confusion_matrix(ytest,predictions)
print("validation confusion matrix")
print(res)
print(classification_report(ytest, predictions))
# check the accuracy on the training set
print('training accuracy = '+str(svm_model.score(xtrain, ytrain)*100))
print('testing accuracy = '+str(svm_model.score(xtest, ytest)*100))

validation confusion matrix
[[ 26   3]
 [  1 342]]
              precision    recall  f1-score   support

           0       0.96      0.90      0.93        29
           1       0.99      1.00      0.99       343

    accuracy                           0.99       372
   macro avg       0.98      0.95      0.96       372
weighted avg       0.99      0.99      0.99       372

training accuracy = 100.0
testing accuracy = 98.9247311827957

Since the model has performed well on the test set, it doesnt require any hyperparameter tuning.

In [14]:
import joblib
joblib.dump(svm_model,'XGBClassifier_thyroid.pkl')

['XGBClassifier_thyroid.pkl']

In [15]:
from sklearn.linear_model import LogisticRegression

# Replace XGBClassifier with LogisticRegression
logistic_model = LogisticRegression()
logistic_model.fit(xtrain, ytrain)

# Making predictions
predictions = logistic_model.predict(xtest)
percentage = logistic_model.score(xtest, ytest)
res = confusion_matrix(ytest, predictions)
print("Validation Confusion Matrix:")
print(res)
print("Classification Report:")
print(classification_report(ytest, predictions))

# Check the accuracy on the training set
print('Training Accuracy = {:.2f}%'.format(logistic_model.score(xtrain, ytrain) * 100))
print('Testing Accuracy = {:.2f}%'.format(logistic_model.score(xtest, ytest) * 100))

Validation Confusion Matrix:
[[  8  21]
 [  0 343]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.28      0.43        29
           1       0.94      1.00      0.97       343

    accuracy                           0.94       372
   macro avg       0.97      0.64      0.70       372
weighted avg       0.95      0.94      0.93       372

Training Accuracy = 94.25%
Testing Accuracy = 94.35%

/Users/seulki/.local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
joblib.dump(logistic_model, 'LogisticRegression_thyroid.sav')

['LogisticRegression_thyroid.sav']